main {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.75rem;
	margin: 2rem 0;
}

.inputs {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	padding: 1rem 0;

	input {
		font-size: 16px;
		padding: 0.25rem;
		width: 100px;
	}
}

button {
	&.is-api {
		color: #fff;
		padding: 0.75rem 1rem;
		width: auto;
	}
}

.result {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	padding: 1rem 0;
}
